{{> header}}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Express - Evaluación Formativa</h1>
  </div>
</div>

<div class="container">
    <h2>
        <p class="text-justify">Para esta práctica se debía realizar una página web con una navbar para poder navegar por el contenido de esta página, además de ello, 
        cuando el usuario se registre sus datos deben ser almacenados en nuestra aplicación local, para que así se pueda recordar el login cuando la aplicación sea puesta en marcha. 
        </p>
    </h2>
</div>