{{> header}}

<center>

    <h1>Bienvenido</h1>

    <h2><p>Este es la página Inicio, se muestra ya sea iniciando sesión o yendo directo con el enlace</p></h2>

    {{userName}}

    <a href="logout">Cerrar sesión</a>
</center>

